<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.1"/>
        <listEntry value="groupId=org.curso"/>
        <listEntry value="artifactId=pronosticos_deportivos"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=org.curso.pronosticos_deportivos"/>
        <listEntry value="outputDirectory=C:\Users\niico\OneDrive\Escritorio\Proyecto Java - neoris"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\niico\AppData\Local\Temp\m2e-archetypeGenerator2293645394034586668"/>
</launchConfiguration>
